.header {
    background-color: #FFF;
    padding: 50px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Mobile */
    @media (max-width: 999px) {
        padding: 20px 0;
    }
}

.logo {
    margin-right: 10px;
}



