.person {
    padding: 20px 0;

    img {
        margin-bottom: 15px;
    }
}

.person ul li {

    list-style-type: disc;

}

.person__title {

    margin-bottom: 15px;
  
}

.person__row {}

.person__items {
    padding-left: 10px;

    li {
        font-size: 14px;
    }
    .title-4 {
        margin-top: 10px;
    }
}