.registration {
    padding: 20px 0;
    background-color: #ebfaff;
}

.registration__title {
    margin-bottom: 20px;
}

.registration__row {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    /* Tablet */
    @media (max-width:999px) {
        flex-direction: column;
       align-items: center;
    }
}

.registration__desc {
    max-width: 700px;

}

.rule-wrapper {
    padding-top: 15px;
}

.rule__btn {
}


