

.social__items {
    display: flex;
    gap: 15px;

}

.social__item {
   
    width: 26px;
    height: 26px;


    :hover {
       transition: all 0.2s ease-in-out;
        transform: scale(1.2, 1.2);
        opacity: 0.7;

    }

}

// .vatsap-icon {
//     fill:#25D366;
//     &:hover {
//         fill:#25D366;
//     }
// }